In [1]:
class User:
    pass

In [2]:
user1 = User()

In [3]:
user1

In [4]:
type(user1)

__main__.User

In [7]:
class User:
    def __init__(self,name,username,email):
        self.name = name
        self.username = username
        self.email = email
        print('user created')

In [8]:
user2 = User('chakri','chakravarthi','chakri@example.com')

user created

In [9]:
user2

In [10]:
user2.name

'chakri'

In [11]:
user2.username

'chakravarthi'

In [12]:
user2.email

'chakri@example.com'

In [20]:
class User:
    def __init__(self,name,username,email):
        self.name = name
        self.username = username
        self.email = email
        print('user created')
    
    def __repr__(self):
         return "User(username='{}',name='{}',email='{}')".format(self.username,self.name,self.email)
    
    def __str__(self):
        return self.username

In [21]:
user3 = User('tony','ironman','tony@example.com')

user created

In [22]:
user3

User(username='ironman',name='tony',email='tony@example.com')

#  example test cases

In [23]:
aakash = User('aakash', 'Aakash Rai', 'aakash@example.com')
biraj = User('biraj', 'Biraj Das', 'biraj@example.com')
hemanth = User('hemanth', 'Hemanth Jain', 'hemanth@example.com')
jadhesh = User('jadhesh', 'Jadhesh Verma', 'jadhesh@example.com')
siddhant = User('siddhant', 'Siddhant Sinha', 'siddhant@example.com')
sonaksh = User('sonaksh', 'Sonaksh Kumar', 'sonaksh@example.com')
vishal = User('vishal', 'Vishal Goel', 'vishal@example.com')

user created
user created
user created
user created
user created
user created
user created

In [24]:
users = [aakash, biraj, hemanth, jadhesh, siddhant, sonaksh, vishal]

In [25]:
users

[User(username='Aakash Rai',name='aakash',email='aakash@example.com'),
 User(username='Biraj Das',name='biraj',email='biraj@example.com'),
 User(username='Hemanth Jain',name='hemanth',email='hemanth@example.com'),
 User(username='Jadhesh Verma',name='jadhesh',email='jadhesh@example.com'),
 User(username='Siddhant Sinha',name='siddhant',email='siddhant@example.com'),
 User(username='Sonaksh Kumar',name='sonaksh',email='sonaksh@example.com'),
 User(username='Vishal Goel',name='vishal',email='vishal@example.com')]

In [42]:
class UserDataBase:
    def __init__(self):
        self.users = []
    
    def insert(self,user):
        i = 0
        while i<len(self.users):
            if self.users[i].username>user.username:
                break
            i+=1
        self.users.insert(i,user)
    
    def find(self,username):
        for user in self.users:
            if user.username == username:
                return user
    
    def update(self,user):
        target = self.find(user.username)
        target.name,target.email = user.name,user.email
        
    def list_all(self):
        return self.users

In [43]:
database = UserDataBase()

In [44]:
database.insert(hemanth)
database.insert(aakash)
database.insert(siddhant)

In [46]:
database.list_all()

[User(username='Aakash Rai',name='aakash',email='aakash@example.com'),
 User(username='Hemanth Jain',name='hemanth',email='hemanth@example.com'),
 User(username='Siddhant Sinha',name='siddhant',email='siddhant@example.com')]

#  BINARY TREE

In [47]:
class TreeNode:
    def __init__(self,key):
        self.key = key
        self.left = None
        self.right = None

In [48]:
node0 = TreeNode(3)

In [49]:
node1 = TreeNode(4)

In [51]:
node2 = TreeNode(5)

In [54]:
node0.key

3

In [55]:
node0.left = node1
node0.right = node2

In [57]:
node0.left.key

4

In [58]:
tree_tuple = ((1,3,None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [59]:
def parse_tuple(data):
    if isinstance(data,tuple) and len(data)==3:
        node = TreeNode(data[1])
        node.left = parse_tuple(data[0])
        node.right = parse_tuple(data[2])
    elif data is None:
        node =  None
    else:
        node =  TreeNode(data)
    return node

In [63]:
tree1 = parse_tuple(tree_tuple)

In [64]:
tree1.key

2

#  TRAVERSE IN ORDER

In [73]:
def traverse_in_order(node):
    if node is None:
        return []
    return (traverse_in_order(node.left)+[node.key]+traverse_in_order(node.right))

In [74]:
tree = parse_tuple(((1,3,None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [75]:
traverse_in_order(tree)

[1, 3, 2, 3, 4, 5, 6, 7, 8]

#  HEIGHT AND SIZE OF THE TREE

In [78]:
def tree_height(node):
    if node is None:
        return 0
    return 1+max(tree_height(node.left),tree_height(node.left))

In [79]:
tree_height(tree)

3

In [82]:
def tree_size(node):
    if node is None:
        return 0
    return 1+tree_size(node.left)+tree_size(node.right)

In [83]:
tree_size(tree)

9

### final Binary Tree

In [113]:
class TreeNode:
    def __init__(self,key):
        self.key = key
        self.left = None
        self.right = None
    
    def height(self):
        if self is None:
            return 0
        return 1+max(TreeNode.height(self.left),TreeNode.height(self.right))
    
    def size(self):
        if self is None:
            return 0
        return 1+TreeNode.size(self.left)+TreeNode.size(self.right)
    
    def traverse_in_order(self):
        if self is None:
            return None
        return (TreeNode.traverse_in_order(self.left)+
                [self.key]+
                traverse_in_order(self.right))
    
    def to_tuple(self):
        if self is None:
            return None
        if self.left is None and self.right is None:
            return self.key
        return TreeNode.to_tuple(self.left),self.key,TreeNode.to_tuple(self.right)
    
    def __str__(self):
        return "BinaryTree <{}>".format(self.to_tuple())
    
    def __repr__(self):
        return "BinaryTree <{}>".format(self.to_tuple())
    
    
    @staticmethod
    def parse_tuple(data):
        if data is None:
            node =  None
        elif isinstance(data,tuple) and len(data)==3:
            node = TreeNode(data[1])
            node.left = TreeNode.parse_tuple(data[0])
            node.right = TreeNode.parse_tuple(data[2])
        else:
             node = TreeNode(data) 
        return node

In [114]:
tree_tuple

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

In [115]:
tree = TreeNode.parse_tuple(tree_tuple)

In [116]:
tree.height()

4

In [117]:
tree.size()

9

In [118]:
tree.to_tuple()

((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8)))

# BINARY SEARCH TREE

#### check wheather binary tree is a binary search tree or not???

In [132]:
def remove_none(nums):
    return (x for x in nums if x is not None)

def is_bst(node):
    if node is None:
        return True, None, None
    
    is_bst_l,min_l,max_l = is_bst(node.left)
    is_bst_r,min_r,max_r = is_bst(node.right)
    
    is_bst_node = (is_bst_l and is_bst_r 
                    and(max_l is None or max_l <node.key)
                    and (max_r is None or max_r>node.key))
    min_key = min(remove_none([min_l,node.key,min_r]))
    max_key = max(remove_none([max_l,node.key,max_r]))
    
    return is_bst_node,min_key,max_key

In [133]:
tree1 = TreeNode.parse_tuple(((1, 3, None), 2, ((None, 3, 4), 5, (6, 7, 8))))

In [134]:
is_bst(tree1)

(False, 1, 8)

In [135]:
tree2 = TreeNode.parse_tuple((('aakash', 'biraj', 'hemanth')  , 'jadhesh', ('siddhant', 'sonaksh', 'vishal')))

In [136]:
is_bst(tree2)

(True, 'aakash', 'vishal')

In [148]:
class BSTNode():
    def __init__(self, key, value=None):
        self.key = key
        self.value = value
        self.left = None
        self.right = None
        self.parent = None
def make_balanced_bst(data, lo=0, hi=None, parent=None):
    if hi is None:
        hi = len(data) - 1
    if lo > hi:
        return None
    
    mid = (lo + hi) // 2
    key, value = data[mid]
#     print(data[mid])

    root = BSTNode(key, value)
    root.parent = parent
    root.left = make_balanced_bst(data, lo, mid-1, root)
    root.right = make_balanced_bst(data, mid+1, hi, root)
    
    return root

In [149]:
data = [(user.username, user) for user in users]
data

[('Aakash Rai',
  User(username='Aakash Rai',name='aakash',email='aakash@example.com')),
 ('Biraj Das',
  User(username='Biraj Das',name='biraj',email='biraj@example.com')),
 ('Hemanth Jain',
  User(username='Hemanth Jain',name='hemanth',email='hemanth@example.com')),
 ('Jadhesh Verma',
  User(username='Jadhesh Verma',name='jadhesh',email='jadhesh@example.com')),
 ('Siddhant Sinha',
  User(username='Siddhant Sinha',name='siddhant',email='siddhant@example.com')),
 ('Sonaksh Kumar',
  User(username='Sonaksh Kumar',name='sonaksh',email='sonaksh@example.com')),
 ('Vishal Goel',
  User(username='Vishal Goel',name='vishal',email='vishal@example.com'))]

In [150]:
tree = make_balanced_bst(data)

('Jadhesh Verma', User(username='Jadhesh Verma',name='jadhesh',email='jadhesh@example.com'))
('Biraj Das', User(username='Biraj Das',name='biraj',email='biraj@example.com'))
('Aakash Rai', User(username='Aakash Rai',name='aakash',email='aakash@example.com'))
('Hemanth Jain', User(username='Hemanth Jain',name='hemanth',email='hemanth@example.com'))
('Sonaksh Kumar', User(username='Sonaksh Kumar',name='sonaksh',email='sonaksh@example.com'))
('Siddhant Sinha', User(username='Siddhant Sinha',name='siddhant',email='siddhant@example.com'))
('Vishal Goel', User(username='Vishal Goel',name='vishal',email='vishal@example.com'))

In [151]:
tests = [('tony','ironman'),('cap','marvel')]

In [152]:
key,value = tests[0]

In [153]:
key

'tony'

In [155]:
value

'ironman'

In [3]:
test_str = input()
k = 4
res=[]
curr,cnt = None,0
for chr in test_str:
    if chr == curr:
        cnt+=1
    else:
        curr,cnt = chr,1
    if cnt ==k:
        res.append(k*cnt)
print(len(str(res)))

aaabbaccccdd
4

In [7]:
test_str = input()
count = 0
for i in range(len(test_str)-1):
    if test_str[i]==test_str[i+1]:
        count+=1
print(count)

vdkkmmmnn
4

In [9]:
word = input()
count =1
lengh = ''
t = 0
if len(word)>1:
    for i in range(1,len(word)):
        if word[i-1]==word[i]:
            count+=1
        else:
            if count%2 == 0:
                t+=count
                count=1
else:
    i = 0
    if count%2 ==0:
        t+=count
print(t)

aaabaccccdd
6

In [11]:
s = input()
lst = list(s)
x = set(lst)
res = 0
for i in x:
    if lst.count(i)%2==0:
        res+=lst.count(i)
print(res)

aaabbaccccdd
12